<h1>Select a stylist to view their clients</h1>

<% if @stylists.any?() %>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>No stylists currently active</p>
<% end %>

<p>Add a new stylist:</p>

<form action="/add_stylist" method="post">

  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add</button>
</form>
